/* @font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("Poppins-Black.woff") format("woff");
  font-display: swap;
} */

/* @font-face {
  font-family: "Poppins Bold";
  src: url("./static/fonts/Poppins/Poppins-Bold.ttf")
  format("ttf");
}  */